<footer>
    <div class="main-column">
        <div class="col">
            <h1>Related projects</h1>
            <a href="/">Nodi</a>
            <a href="/">Nodi's Core</a>
            <a href="/">Byakko</a>
            <a href="/">Bunbun</a>
            <a href="/">HCUI</a>
            <a href="/">Types exporter</a>
        </div>
        <div class="col">
            <h1>Site map</h1>
            <a href="/">Home</a>
            <a href="/">Philosophy</a>
            <a href="/">Docs</a>
            <a href="/">Changelog</a>
            <a href="/">Sponsorship</a>
        </div>
        <div class="col">
            <h1>Useful links</h1>
            <a href="/">NPM package</a>
            <a href="/">Project GitHub repository</a>
        </div>
        <div class="logo">
            <%- include('/assets/logo-simple.svg') %>
            <div>Created with <span class="heart">❤</span> by Maciej (Maxie) Mieńko</div>
            <div>Project is licenced under <a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">Apache-2.0</a></div>
        </div>
    </div>
</footer>