<header>
    <div class="nav">
        <div class="main-column inner">
            <div class="title">Seiryu</div>
            <a href="/" data-active="<%- this.page === 'index' %>">Home</a>
            <a href="/philosophy.html">Philosophy</a>
            <a href="/docs/">Docs</a>
            <a href="/changelog/">Changelog</a>
            <a href="/sponsoring.html">Donate</a>
            <label class="version">
                Version:
                <select>
                    <option>Latest (1.0.0)</option>
                </select>
            </label>
        </div>
    </div>
</header>