$fontSize: 15px;
$textShadow: none;
$fontFamily: 'Space Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$lineHeight: 1.5;
$tabSize: 4;
$paddingTop: 1em;

$blockBackground: transparent;
$baseColor: #b4b4b4;

$commentColor: #6b6b6b; //
$punctuationColor: #6b6b6b; //
$propertyColor: #ffd369;
$selectorColor: #6b6b6b;
$operatorColor: #ffd369;
$operatorBg: transparent;
$variableColor: #e90;
$functionColor: #1f98e9; //
$keywordColor: #E55381;
$selectedColor: #b3d4fc;
$stringColor: #8ccc6f;

$inlineCodeColor: #DB4C69;
$inlineCodeBackground: transparent;

$highlightBackground: transparent;
$highlightAccent: #F7D87C;

.codeblock {
    border-radius: 10px;
    background-color: $color-bg-3;
    position: relative;
    overflow: hidden;
    font-variant-ligatures: none;

    @include for-mobile {
        margin: 0 10px;
    }

    code {
        overflow-x: auto;
        padding: 20px;
        padding-top: 30px;
        display: block;
    }

    .filename {
        position: absolute;
        top: 10px;
        right: 20px;
        font-family: $fontFamily;
        color: #686868;
    }
}

pre[class*="language-"],
code[class*="language-"] {
    color: $baseColor;
    font-size: $fontSize;
    text-shadow: $textShadow;
    font-family: $fontFamily;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: $lineHeight;

    -moz-tab-size: $tabSize;
    -o-tab-size: $tabSize;
    tab-size: $tabSize;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    &::selection,
    &::mozselection {
        text-shadow: none;
        background: $selectedColor;
    }

    @media print {
        text-shadow: none;
    }

}

// Blocks
pre[class*="language-"] {
    padding: $paddingTop;
    margin: .5em 0;
    overflow: auto;

    background: $blockBackground;
}

// Inline code
:not(pre) > code[class*="language-"] {
    padding: .1em .3em;
    border-radius: .3em;
    color: $inlineCodeColor;
    background: $inlineCodeBackground;
}

/*********************************************************
* Tokens
*/

.namespace {
    opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: $commentColor;
}

.token.punctuation {
    color: $punctuationColor;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: $propertyColor;
}

.token.string {
    color: $stringColor;
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
    color: $selectorColor;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: $operatorColor;
    background: $operatorBg;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: $keywordColor;
}

.token.function {
    color: $functionColor;
}

.token.regex,
.token.important,
.token.variable {
    color: $variableColor;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/*********************************************************
* Line highlighting
*/

pre[data-line] {
    position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
    position: relative;
    z-index: 1;
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: $paddingTop;

    background: $highlightBackground;
    box-shadow: inset 5px 0 0 $highlightAccent;

    z-index: 0;

    pointer-events: none;

    line-height: inherit;
    white-space: pre;
}