[data-page="index"] {
    section {
        min-height: 100vh;
    }

    section.introduce {
        user-select: none;

        .banner {
            font-size: 72px;
            text-transform: uppercase;
            font-weight: 300;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;

            img {
                height: 200px;
            }

            h1 {
                font-size: 72px;
            }

            h2 {
                font-size: 25px;
                font-weight: 200;
                letter-spacing: 5px;
            }

            .accent {
                color: $color-accent;
            }
        }

        .main-column {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            @include for-mobile {
                justify-content: center;
            }

            .block {
                width: 30%;
                margin-bottom: 50px;
                padding: 30px 20px;
                border-radius: 20px;
                background-color: $color-bg-3;
                text-align: center;
                border: 1px solid transparent;
                transition: box-shadow .3s;

                @include for-mobile {
                    width: 90%;
                }

                &:hover {
                    box-shadow: 0 0 0 2px $color-accent;
                }

                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }

                p.desc {
                    font-size: 15px;
                    font-weight: 300;
                    margin-top: 15px;
                    letter-spacing: .8px;
                    color: $color-font-2;
                }
            }
        }
    }
}

section.examples {
    h1 {
        padding: 30px 0;
        font-size: 40px;

        @include for-mobile {
            padding: 30px 10px;
        }
    }

    h2 {
        font-size: 30px;
        font-weight: 200;

        @include for-mobile {
            margin-top: 50px;
        }

        &:before {
            content: '>';
            display: inline-block;
            color: $color-font-2;
            margin-right: 1ch;
        }
    }

    article {
        display: flex;
        flex-direction: row;

        @include for-mobile {
            flex-direction: column;
        }

        a {
            color: $color-accent;
        }

        .desc {
            flex: 1;
            padding-right: 15px;

            @include for-mobile {
                padding-left: 15px;
            }

            p {
                text-indent: 2em;
                text-align: justify;
            }

            p, li {
                color: $color-font-2;
                font-size: 15px;
                letter-spacing: .8px;
            }
        }

        .code {
            flex: 2;
            border-radius: 10px;
        }

        .codeblock {
            @include for-mobile {
                margin-bottom: 10px;
            }
        }
    }
}