header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-bg-2;
    z-index: 500;

    @include for-mobile {
        position: static;
    }

    .nav {
        height: 60px;

        @include for-mobile {
            height: auto;
        }

        .inner {
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @include for-mobile {
                height: auto;
                flex-wrap: wrap;
            }
        }

        .title {
            flex: 1;
            font-size: 25px;
            font-weight: 300;
            line-height: 60px;

            @include for-mobile {
                width: 100vw;
                flex: none;
                text-align: center;
            }
        }

        .version, a {
            border: 0;
            background: none;
            outline: none;
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;
        }

        .version {
            padding-left: 20px;

            select {
                margin-left: 10px;
            }

            @include for-mobile {
                margin: 10px 15px;
            }
        }

        .inner > a {
            cursor: pointer;
            padding: 0 20px;
            color: $color-font-1;
            transition: opacity .3s;
            opacity: .8;
            text-decoration: none;

            &:hover {
                opacity: 1;
            }

            &[data-active="true"] {
                opacity: 1;
                cursor: default;
                color: $color-accent;
            }

            @include for-mobile {
                padding: 10px 15px;
                color: currentColor;
                font-family: 'Open Sans', sans-serif;
                border-radius: 5px;
                border: none;
                outline: none;
                background-color: $color-bg-1;
                appearance: none;
                font-size: 14px;
                transition: box-shadow .3s;
                margin: 10px 15px;

                &:hover, &:focus {
                    box-shadow: 0 0 0 2px $color-accent;
                    cursor: pointer;
                }
            }
        }
    }
}

