@import "./_mixins";
@import "./_vars";
@import "./_reset";
@import "./_prism";
@import "./_sections";

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $color-bg-1;

    &::-webkit-scrollbar {
        width: 11px;
        height: 11px;
        background: $color-bg-2;
    }

    &::-webkit-scrollbar-track {
        background: $color-bg-2;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-bg-1;
        border-radius: 6px;
        border: 3px solid $color-bg-2;
    }
}

// ============================================================
// Reusable
// ============================================================

a {
    color: var(--color-accent);
    transition: none;
}

select, a.button {
    padding: 10px 15px;
    color: currentColor;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: $font-sans-serif;
    background-color: $color-bg-1;
    appearance: none;
    font-size: 14px;
    transition: box-shadow .3s;
    text-decoration: none;
    display: inline-block;

    &:hover, &:focus {
        box-shadow: 0 0 0 2px var(--color-accent);
        cursor: pointer;
    }
}

.center {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 0 10px;

    @include for-mobile {
        max-width: 100%;
    }
}

%scrolling-pattern {
    $id: uuid();
    $animation-name: "animation-#{$id}";

    background: url(#{to-base64('./assets/pattern.svg', 'image/svg+xml')}) repeat 0 0;
    background-size: (40px * 3) (59.428px * 3);

    @keyframes #{$animation-name} {
        100% {
            background-position: (40px * 3) (59.428px * 3);
        }
    }

    animation: #{$animation-name} 5s infinite linear;
}

.f-accent {
    color: var(--color-accent);
}

[sidebarjs] {
    [sidebarjs-container] {
        background-color: $color-bg-1;
    }

    .sidebar-header {
        height: 60px;
        line-height: 60px;
        background-color: $color-bg-2;
        padding: 10px 15px;
        font-size: 18px;
        font-weight: 200;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        outline: none;
        transition: color .3s;
        text-transform: uppercase;

        &:focus {
            color: var(--color-accent);
        }

        svg {
            margin-right: 10px;
        }
    }

    a {
        font-weight: 200;
        font-size: 22px;
        padding: 10px 15px;
        color: currentColor;
        text-decoration: none;
        border-bottom: 1px solid $color-bg-2;

        &[data-active="true"] {
            color: var(--color-accent);
        }
    }
}

.content-page {

    .center {
        display: flex;
        flex-direction: row;
        min-height: 90vh;
        padding: 15px 0;
    }

    &--toc {

        .toc {
            width: 300px;

            @include for-mobile {
                display: none;
            }
        }

        a {
            display: block;
            width: 100%;
            text-decoration: none;
            color: currentColor;
            font-size: 18px;
            padding: 10px 15px;
            transition: color .3s;
            border-bottom: 1px solid $color-bg-2;

            &[data-is-active="true"], &:hover, &:focus {
                color: var(--color-accent);
            }
        }
    }

    &--content {
        flex: 1;
        padding: 10px 15px;
        border-left: 1px solid $color-bg-2;
        font-size: 16px;
        line-height: 1.5;

        @include for-mobile {
            border-left: none;
        }

        p {
            text-indent: 4ch;
            letter-spacing: .03em;
            text-align: justify;
            text-rendering: optimizelegibility !important;
        }

        blockquote {
            background-color: $color-bg-3;
            margin: 10px 0;
            border-left: 5px solid $color-bg-2;
            padding: 5px 20px;
        }

        em {
            text-decoration: underline;
        }

        .button {
            background-color: $color-bg-2;
            font-size: inherit;
        }

        .illus {
            text-align: center;
            padding: 10px 0;

            svg {
                max-width: 50%;
                height: auto;
            }
        }
    }
}

// ============================================================
// Main
// ============================================================

body {
    font-family: $font-sans-serif;
    text-shadow: 1px 1px 1px rgba(black, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    background-color: $color-bg-1;
    color: $color-font-1;
    margin: 0;
    min-height: 100vh;
    font-size: 12px;
    padding-top: 60px;

    &[data-is-loading] {
        [sidebarjs] {
            opacity: 0;
        }

        * {
            transition: none !important;
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-bg-2;
    z-index: 500;

    .mobile-btn {
        display: none;
        padding: 0 10px;
        outline: none;
        height: 100%;
        transition: color .3s;

        @include for-mobile {
            display: block;
        }

        &:focus {
            color: var(--color-accent);
        }

        &[data-is-visible="false"] {
            opacity: 0;
            pointer-events: none;
        }
    }

    .nav {
        height: 60px;

        @include for-mobile {
            height: auto;
        }

        .center {
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @include for-mobile {
                height: auto;
                flex-wrap: wrap;
            }
        }

        .title {
            flex: 1;
            font-size: 25px;
            font-weight: 300;
            line-height: 60px;

            @include for-mobile {
                text-align: center;
            }
        }

        .version, a {
            border: 0;
            background: none;
            outline: none;
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;
        }

        .version {
            padding-left: 20px;

            select {
                margin-left: 10px;
            }

            @include for-mobile {
                margin: 10px 15px;
            }
        }

        .center > a {
            cursor: pointer;
            padding: 0 20px;
            color: $color-font-1;
            transition: opacity .3s;
            opacity: .8;
            text-decoration: none;

            &:hover {
                opacity: 1;
            }

            &[data-active="true"] {
                opacity: 1;
                cursor: default;
                color: $color-accent;
            }

            @include for-mobile {
                display: none;
            }
        }
    }
}

footer {
    background-color: $color-bg-2;

    .center {
        display: flex;
        flex-direction: row;

        @include for-mobile {
            flex-direction: column;
        }
    }

    .col {
        flex: 1;
        border-right: 1px solid $color-bg-1;
        margin: 40px 0;
        padding: 0 20px;

        @include for-mobile {
            border: none;
            margin-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid $color-bg-1;
        }

        h1 {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
        }

        a {
            font-size: 16px;
            color: $color-font-2;
            transition: color .3s;
            cursor: pointer;
            display: block;
            padding: 0 15px;
            padding-top: 8px;

            &:hover {
                color: $color-accent;
            }
        }
    }

    .logo {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        color: $color-font-2;

        svg {
            margin-bottom: 15px;
            color: $color-font-2;
            height: 110px;
        }

        .heart, a {
            color: $color-accent;
        }

        @include for-mobile {
            padding-bottom: 40px;
        }
    }
}