<header>
    <div class="nav">
        <div class="center">
            <div class="title"><%- this.projectName %></div>
            <a href="/" data-active="<%- this.page === 'home' %>">Home</a>
            <a href="<%- this.url() %>concepts">Concepts</a>
            <% if (this.project !== 'nodi') { %>
                <a href="/docs">Docs</a>
            <% } %>
            <a href="/changelog">Changelog</a>
            <a href="https://www.paypal.com/donate?hosted_button_id=YKNTMFF9QHTLA">Donate</a>
            <% if (this.project !== 'nodi') { %>
                <label class="version">
                    Version:
                    <select>
                        <option>Latest (1.0.0)</option>
                    </select>
                </label>
            <% } %>
        </div>
    </div>
</header>