<section class="nodi">
    <div class="center">
        <div class="slogan">
            <h1><span class="f-accent"><%- this.projectName %></span> is part of <span class="f-accent">Nodi</span> project</h1>
            <h2>Thanks to using other libraries from this project you can unify your whole codebase</h2>
        </div>
        <div class="button">
            <a href="<%- this.url() %>" class="button">Learn more</a>
        </div>
    </div>
</section>