<section class="get-on-npm">
    <div class="main-column">
        <h1>Install <span class="accent"><%- this.projectName %></span> using one command</h1>
        <p><code>npm i --save-dev <%- this.moduleName %></code></p>
    </div>
</section>