$prism-font-size: 15px;
$prism-text-shadow: none;
$prism-font-family: $font-mono;
$prism-line-height: 1.5;
$prism-tab-size: 4;
$prism-padding-top: 1em;

$prism-block-background: transparent;
$prism-base-color: #b4b4b4;

$prism-comment-color: #6b6b6b;
$prism-punctuation-color: #6b6b6b;
$prism-property-color: #ffd369;
$prism-selector-color: #6b6b6b;
$prism-operator-color: #ffd369;
$prism-operator-bg: transparent;
$prism-variable-color: #E90;
$prism-function-color: #1f98e9;
$prism-keyword-color: #E55381;
$prism-selected-color: #B3D4FC;
$prism-string-color: #8CCC6F;

$prism-inline-code-color: #DB4C69;
$prism-inline-code-background: transparent;

$prism-highlight-background: transparent;
$prism-highlightAccent: #F7D87C;

.codeblock {
    border-radius: 10px;
    background-color: $color-bg-3;
    position: relative;
    overflow: hidden;
    font-variant-ligatures: none;

    @include for-mobile {
        margin: 0 10px;
    }

    code {
        overflow-x: auto;
        padding: 20px;
        padding-top: 30px;
        display: block;
    }

    .filename {
        position: absolute;
        top: 10px;
        right: 20px;
        font-family: $prism-font-family;
        color: #686868;
    }
}

pre[class*="language-"],
code[class*="language-"] {
    color: $prism-base-color;
    font-size: $prism-font-size;
    text-shadow: $prism-text-shadow;
    font-family: $prism-font-family;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: $prism-line-height;

    -moz-tab-size: $prism-tab-size;
    -o-tab-size: $prism-tab-size;
    tab-size: $prism-tab-size;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    &::selection,
    &::mozselection {
        text-shadow: none;
        background: $prism-selected-color;
    }

    @media print {
        text-shadow: none;
    }

}

// -blocks
pre[class*="language-"] {
    padding: $prism-padding-top;
    margin: .5em 0;
    overflow: auto;

    background: $prism-block-background;
}

// Inline code
:not(pre) > code[class*="language-"] {
    padding: .1em .3em;
    border-radius: .3em;
    color: $prism-inline-code-color;
    background: $prism-inline-code-background;
}

/*********************************************************
* Tokens
*/

.namespace {
    opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: $prism-comment-color;
}

.token.punctuation {
    color: $prism-punctuation-color;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: $prism-property-color;
}

.token.string {
    color: $prism-string-color;
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted {
    color: $prism-selector-color;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: $prism-operator-color;
    background: $prism-operator-bg;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: $prism-keyword-color;
}

.token.function {
    color: $prism-function-color;
}

.token.regex,
.token.important,
.token.variable {
    color: $prism-variable-color;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/*********************************************************
* Line highlighting
*/

pre[data-line] {
    position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
    position: relative;
    z-index: 1;
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: $prism-padding-top;

    background: $prism-highlight-background;
    box-shadow: inset 5px 0 0 $prism-highlightAccent;

    z-index: 0;

    pointer-events: none;

    line-height: inherit;
    white-space: pre;
}