$color-bg-1: #2b2b2b;
$color-bg-2: #1b1b1b;
$color-bg-3: #232323;
$color-font-1: #eee;
$color-font-2: #bbb;
$color-accent: var(--color-accent);

$color-nodi: #fbd46d;
$color-seiryu: #E55381;
$color-hcui: #FDC830;
$color-byakko: #d82828;
$color-tse: #309fe9;
$color-bunbun: #38ef7d;
$color-core: #9c76da;

:root {
    --color-nodi-1: #{$color-nodi};
    --color-nodi-2: #b3933c;

    --color-byakko-1: #{$color-byakko};
    --color-byakko-2: #991616;

    --color-core-1: #{$color-core};
    --color-core-2: #7041bb;

    --color-hcui-1: #{$color-hcui};
    --color-hcui-2: #F37335;

    --color-bunbun-1: #{$color-bunbun};
    --color-bunbun-2: #11998e;

    --color-seiryu-1: #{$color-seiryu};
    --color-seiryu-2: #bb345f;

    --color-tse-1: #{$color-tse};
    --color-tse-2: #3083bb;

    --color-illus-dark: #{darken($color-bg-2, 3%)}; // #3f3d56
    --color-illus-dark-2: #{lighten($color-bg-2, 2%)}; // #2f2e41
    --color-illus-bright: rgba(0, 0, 0, .5); // #f2f2f2
}

$font-mono: 'Space Mono', Monaco, Consolas, monospace;
$font-sans-serif: 'Open Sans', sans-serif;